# INFO 212: Data Science Programming 1
___

### Week 2, Lecture 1
___

### Mon., April 9, 2018
---

**Question:**
- What built-in capabilities does Python provide for data analysis?

**Objectives:**
- Create, change, and iterate Python tuples, lists, dicts
- Index and slice tuples, lists, and dicts
- Use comprehensions

## Data Structures and Sequences
Python’s data structures are simple but powerful. Mastering their use is a critical for data science programming.

### Tuple
A tuple is a fixed-length, immutable sequence of Python objects. The easiest way to
create one is with a comma-separated sequence of values:

```
# Create a tuple
tup = 4, 5, 6
tup
```

In [3]:
tup = 4,5,6
type(tup)

tuple

```
# create a nested tuple
nested_tup = (4, 5, 6), (7, 8)
nested_tup
```

In [4]:
nested_tup = (4,5,6),(7,8)
nested_tup

((4, 5, 6), (7, 8))

```
# any sequences can be converted to tutples
tuple([4, 0, 2])
tup = tuple('string')
tup
```

In [5]:
tuple([4,0,2])
x = tuple("string")
x

('s', 't', 'r', 'i', 'n', 'g')

####  Access Elements
Elements can be accessed with square brackets [] as with most other sequence types.

```
tup[0]
```

In [6]:
tup[0]

4

tuple is immutable meaning once the tuple is created it’s not possible to modify which object is stored in each slot:

```
tup = tuple(['foo', [1, 2], True])
tup[2] = False
```

In [16]:
tup = tuple(["foo", [1,2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

If an object inside a tuple is mutable, such as a list, you can modify it in-place:

```
tup[1].append(3)
tup
```

In [18]:
tup[1].append(3)
tup

('foo', [1, 2, 3, 3], True)

You can concatenate tuples using the + operator to produce longer tuples:

```
(4, None, 'foo') + (6, 0) + ('bar',)
```

In [21]:
(4, None, "foo") + (6,0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

Multiplying a tuple by an integer, as with lists, has the effect of concatenating together that many copies of the tuple:

```
('foo', 'bar') * 4
```

In [22]:
#Duplicate the data
("foo", "bar") * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

#### Unpacking tuples
If you try to assign to a tuple-like expression of variables, Python will attempt to
unpack the value on the righthand side of the equals sign.

```
tup = (4, 5, 6)
a, b, c = tup
b
```

In [25]:
tup = 4,5,6
a, b, c = tup
b

5

Even sequences with nested tuples can be unpacked:

```
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d
```

In [31]:
tup = 4,5,(6,7)
a, b, (c, d) = tup
print(a, b, c, d)

4 5 6 7

Using this functionality you can easily swap variable names, a task which in many
languages might look like:
```
tmp = a
a = b
b = tmp
```

```
a, b = 1, 2
a
b
b, a = a, b
a
b
```

In [36]:
a,b = 1,2
b,a = a, b
b

1

A common use of variable unpacking is iterating over sequences of tuples or lists:

```
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))
```

In [42]:
seq = [(1,2,3),(4,5,6),(7,8,9)]
for x, y, z in seq:
    print("a = {0}, b= {1}, c = {2}".format(x, y, z))

a = 1, b= 2, c = 3
a = 4, b= 5, c = 6
a = 7, b= 8, c = 9

The Python language recently acquired some more advanced tuple unpacking to help
with situations where you may want to “pluck” a few elements from the beginning of
a tuple.

```
values = 1, 2, 3, 4, 5
a, b, *rest = values
a, b
rest
```

In [46]:
values = 1, 2, 3, 4, 5, 6
a, b, *rest = values
rest

[3, 4, 5, 6]

As a matter of convention, many Python programmers will use
the underscore (_) for unwanted variables:

```
a, b, *_ = values
```

In [48]:
a,b, *_= values
_

[3, 4, 5, 6]

#### Tuple methods
Since the size and contents of a tuple cannot be modified, it is very light on instance
methods. A particularly useful one (also available on lists) is count, which counts the
number of occurrences of a value:

```
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)
```

In [51]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)
len(a)

7

#### Exercise
Create a tuple of lists of student information including name, phone, email. Print out the information

In [54]:
info = (["Raj Patel"],[31268736178],["rbp59@drexel.edu"])
info

(['Raj Patel'], [31268736178], ['rbp59@drexel.edu'])

### List
lists are variable-length and their contents can be modified
in-place. You can define them using square brackets [] or using the list type function:

```
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list
b_list[1] = 'peekaboo'
b_list
```

In [59]:
a_list = [2, 3, 7, None]
tup = ("foo", "bar", "baz")
b_list = list(tup)
b_list
b_list[1] = "bro"
b_list

['foo', 'bro', 'baz']

The list function is frequently used in data processing as a way to materialize an
iterator or generator expression:

```
gen = range(10)
gen
list(gen)
```

In [62]:
gen = range(10)
gen
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Adding and removing elements

Elements can be appended to the end of the list with the append method:

```
b_list.append('dwarf')
b_list
```

In [63]:
b_list.append("dwarf")

In [64]:
b_list

['foo', 'bro', 'baz', 'dwarf']

Using insert you can insert an element at a specific location in the list:

```
b_list.insert(1, 'red')
b_list
```

In [65]:
b_list.insert(1, "red")
b_list

['foo', 'red', 'bro', 'baz', 'dwarf']

The inverse operation to insert is pop, which removes and returns an element at a particular index:

```
b_list.pop(2)
b_list
```

In [66]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

Elements can be removed by value with remove, which locates the first such value and
removes it from the last:

```
b_list.append('foo')
b_list
b_list.remove('foo')
b_list
```

In [68]:
b_list.append("foo")
b_list

['foo', 'red', 'baz', 'dwarf', 'foo', 'foo']

In [72]:
b_list.remove("foo")

In [73]:
b_list

['red', 'baz', 'dwarf']

Check if a list contains a value using the in keyword:

```
'dwarf' in b_list
```

In [77]:
"red" in b_list

True

The keyword not can be used to negate in:

```
'dwarf' not in b_list
```

In [78]:
"blue" not in b_list

True

Checking whether a list contains a value is a lot slower than doing so with dicts and
sets (to be introduced shortly), as Python makes a linear scan across the values of the
list, whereas it can check the others (based on hash tables) in constant time.

#### Concatenating and combining lists

Adding two lists by + will concatenate them

```
[4, None, 'foo'] + [7, 8, (2, 3)]
```

In [79]:
x = [4, None, "foo"] + [7, 8, (2,3)]
x

[4, None, 'foo', 7, 8, (2, 3)]

If you have a list already defined, you can append multiple elements to it using the
extend method:

```
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x
```

In [80]:
x.extend([1,8,(2,3)])
x

[4, None, 'foo', 7, 8, (2, 3), 1, 8, (2, 3)]

Note that list concatenation by addition is a comparatively expensive operation since
a new list must be created and the objects copied over. Using extend to append elements
to an existing list, especially if you are building up a large list, is usually preferable.
Thus,
```
everything = []
for chunk in list_of_lists:
    everything.extend(chunk)
```

is faster than
```
everything = []
for chunk in list_of_lists:
    everything = everything + chunk
```

#### Sorting

You can sort a list in-place (without creating a new object) by calling its sort
function:
```
a = [7, 2, 5, 1, 3]
a.sort()
a
```

In [83]:
a = ["one", "car", "hat"]
a.sort()
a

['car', 'hat', 'one']

We can sort a collection of strings by their lengths:
```    
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b
```

In [84]:
b = ["saw", "small", "He", "foxes", "six"]
b.sort(key = len)
b

['He', 'saw', 'six', 'small', 'foxes']

#### Slicing
You can select sections of most sequence types by using slice notation, which in its
basic form consists of start:stop passed to the indexing operator []:

```
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]
```

In [85]:
seq = [7,2,3,7,5,6,0,1]
seq[1:3]

[2, 3]

Slices can also be assigned to with a sequence:
```
seq[3:4] = [6, 3]
seq
```

In [87]:
seq[0:1] = [0,1]

In [88]:
seq

[0, 1, 2, 3, 7, 5, 6, 0, 1]

While the element at the start index is included, the stop index is not included, so
that the number of elements in the result is stop - start.

Either the start or stop can be omitted, in which case they default to the start of the
sequence and the end of the sequence, respectively:
```
seq[:5]
seq[3:]
```

In [91]:
seq[:5]
seq[1:]

[1, 2, 3, 7, 5, 6, 0, 1]

Negative indices slice the sequence relative to the end:
   ``` 
seq[-4:]
seq[-6:-2]
```

In [95]:
seq[-3:-1]

[6, 0]

The following figure shows a helpful illustration of slicing with positive and negative
integers. In the figure, the indices are shown at the “bin edges” to help show
where the slice selections start and stop using positive or negative indices.
![](list-slice.png)

A step can also be used after a second colon to, say, take every other element:
```
seq[::2]
```

In [87]:
seq[::2]

[7, 3, 3, 6, 1]

A clever use of this is to pass -1, which has the useful effect 
of reversing a list or tuple:
```
seq[::-1]
```

In [90]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

### Built-in Sequence Functions
Python has a handful of useful sequence functions that you should familiarize yourself
with and use at any opportunity.

#### enumerate

It’s common when iterating over a sequence to want to keep track of the index of the
current item. A do-it-yourself approach would look like:

```
i = 0
for value in collection:
    # do something with value
    i += 1
```

Since this is so common, Python has a built-in function, enumerate, which returns a
sequence of (i, value) tuples:
```
for i, value in enumerate(collection):
    # do something with value
```
When you are indexing data, a helpful pattern that uses enumerate is computing a
dict mapping the values of a sequence (which are assumed to be unique) to their
locations in the sequence:

```
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
mapping
```

In [100]:
some_list = ["foo", "bar", "baz"]
mapping = {}

for a, b in enumerate(some_list):
    mapping[b] = a
mapping

{'bar': 1, 'baz': 2, 'foo': 0}

The sorted function returns a new sorted list from the elements of any sequence:
```
sorted([7, 1, 2, 6, 0, 3, 2])
sorted('horse race')
```

In [101]:
sorted("horse race")

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

#### zip

zip “pairs” up the elements of a number of lists, tuples, or other sequences to create a
list of tuples:
```
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)
```

In [103]:
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

zip can take an arbitrary number of sequences, and the number of elements it produces
is determined by the shortest sequence:
```
seq3 = [False, True]
list(zip(seq1, seq2, seq3))
```

In [104]:
seq3 = [False, True]
list(zip(seq1,seq2,seq3))

[('foo', 'one', False), ('bar', 'two', True)]

A very common use of zip is simultaneously iterating over multiple sequences, possibly
also combined with enumerate:
```
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))
    ```

In [106]:
for i, (a,b) in enumerate(zip(seq1, seq2)):
    print("{0}: {1}, {2}".format(1,a,b))

1: foo, one
1: bar, two
1: baz, three

Given a “zipped” sequence, zip can be applied in a clever way to “unzip” the
sequence. Another way to think about this is converting a list of rows into a list of
columns. The syntax, which looks a bit magical, is:
```
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
first_names
last_names
```

In [111]:
pitchers = [("Rock","Dwane"), ("Bill","McD"), ("Imran","Hassan")]

first_names, last_names = zip(*pitchers)
last_names

('Dwane', 'McD', 'Hassan')

#### reversed

reversed iterates over the elements of a sequence in reverse order. 'reversed' is a generator. It doesn't produce a list by itself.
```
list(reversed(range(10)))
```

In [113]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### dict
dict is likely the most important built-in Python data structure. A more common
name for it is hash map or associative array. It is a flexibly sized collection of key-value
pairs, where key and value are Python objects. One approach for creating one is to use
curly braces {} and colons to separate keys and values:

```
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1
```

In [114]:
empty_dict = {}
d1 = {"a" : "some value", "b": [1,2,3,4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

You can access, insert, or set elements using the same syntax as for accessing elements
of a list or tuple:
```
d1[7] = 'an integer'
d1
d1['b']
```

In [117]:
d1[2]: "an integer"
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

check if a dictionary contains a key
```
'b' in d1
```

In [120]:
"a" in d1

True

You can delete values either using the del keyword or the pop method (which simultaneously
returns the value and deletes the key):
```
d1[5] = 'some value'
d1
d1['dummy'] = 'another value'
d1
del d1[5]
d1
ret = d1.pop('dummy')
ret
d1
```

In [129]:
del d1["a"]
d1

{}

The keys and values method give you iterators of the dict’s keys and values, respectively.
```
list(d1.keys())
list(d1.values())
```

In [133]:
d2 = {"a":1, "b":2, "c":3}
list(d2.keys())

['a', 'b', 'c']

In [115]:
list(d2.values())

['some value', [1, 2, 3, 4]]

merge two dictionaries using update:
```
d1.update({'b' : 'foo', 'c' : 12})
d1
```

In [134]:
d1.update({'b' : 'foo', 'c' : 12})
d1

{'b': 'foo', 'c': 12}

#### Creating dicts from sequences
It’s common to occasionally end up with two sequences that you want to pair up
element-wise in a dict. As a first cut, you might write code like this:

```
mapping = {}
for key, value in zip(key_list, value_list):
    mapping[key] = value
    ```

The dict fucntion accepts two sequences:
```
mapping = dict(zip(range(5), reversed(range(5))))
mapping
```

In [139]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

#### Default values

```
if key in some_dict:
    value = some_dict[key]
else:
    value = default_value
    ```

The dict methods get and pop can take a default value to be returned, so that
the above if-else block can be written simply as:
```
value = some_dict.get(key, default_value)
```

With setting values, a common case is for the values in a dict to be other collections,
like lists. For example, you could imagine categorizing a list of words by their
first letters as a dict of lists:

In [140]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

The setdefault dict method is for precisely this purpose. The preceding for loop
can be rewritten as:
```
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
```

In [144]:
my_letter = {}
for word in words:
    letter = word[0]
    my_letter.setdefault(letter, []).append(word)
my_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

The built-in collections module has a useful class, defaultdict, which makes this
even easier. To create one, you pass a type or function for generating the default value
for each slot in the dict:
```
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)
    ```

In [146]:
from collections import defaultdict
yy_letter = defaultdict(list)
for word in words:
    yy_letter[word[0]].append(word)
yy_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

#### Valid dict key types

Keys of dicitonaries must be hashable or immutable.
```
hash('string')
hash((1, 2, (2, 3)))
hash((1, 2, [2, 3])) # fails because lists are mutable
```

In [150]:
hash("string")
hash((1,2,(3,4)))
hash([1,3])

TypeError: unhashable type: 'list'

```
d = {}
d[tuple([1, 2, 3])] = 5
d
```

In [152]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

### set

A set is an unordered collection of unique elements.
```
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}
```

In [153]:
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

Set union, intersection, difference, and symmetric difference

In [154]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

```
a.union(b)
a | b
```

In [156]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

```
a.intersection(b)
a & b
```

In [157]:
a.intersection(b)

{3, 4, 5}

Set supports mathematical set operations. Set elements must be immutable.

In [158]:
c = a.copy()
c |= b
c
d = a.copy()
d &= b
d

{3, 4, 5}

In [159]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [160]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

True

In [161]:
{1, 2, 3} == {3, 2, 1}

True

### List, Set, and Dict Comprehensions

List comprehensions are one of the most-loved Python language features. They allow
you to concisely form a new list by filtering the elements of a collection, transforming
the elements passing the filter in one concise expression. They take the basic form:
```
[expr for val in collection if condition]
```

This is equivalent to the following for loop:
```
result = []
for val in collection:
    if condition:
        result.append(expr)
```
The filter condition can be omitted, leaving only the expression. For example, given a
list of strings, we could filter out strings with length 2 or less and also convert them to uppercase like this:

```
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]
```

Set and dict comprehensions are a natural extension, producing sets and dicts in an
idiomatically similar way instead of lists. A dict comprehension looks like this:
```
dict_comp = {key-expr : value-expr for value in collection if condition}
```

A set comprehension looks like the equivalent list comprehension except with curly
braces instead of square brackets:
```
set_comp = {expr for value in collection if condition}
```

```
unique_lengths = {len(x) for x in strings}
unique_lengths
```

```
set(map(len, strings))
```

```
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping
```

#### Nested list comprehensions

In [ ]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

You might have gotten these names from a couple of files and decided to organize
them by language. Now, suppose we wanted to get a single list containing all names
with two or more e’s in them. We could certainly do this with a simple for loop:
```
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)
    ```

A single nested list comprehension does this nicely:
```
result = [name for names in all_data for name in names
          if name.count('e') >= 2]
```

Flatten a list of tuples:
```
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
```

A multple statements for loops:
```
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)
        ```

List comprehension inside a list comprehension:
```
[[x for x in tup] for tup in some_tuples]
```

## Key Points
* tuples are immutable
* list.append() to add elements at the end of a list
* enumearte(list) generates sequences of tuples (index, element)
* dictionary keys must be immutable
* zip combines two sequences to a sequence of tuples
* zip(*sequence of tuples) unzip to separate sequences
* [x for x in a sequence if filter] list comprehension is more compact
* set is dictionary with only keys