# Midterm Review

In [ ]:
# Rules

# Mutable objects: list, dict, set, byte array
#Immutable objects: string, tuple, frozen set [note: immutable version of set]

In [119]:
# List

fruit = ["apple", "banana", "mango", "pear", "peach", "kiwi", "cherry", "apple", 1, 1876524, 6421]
print(fruit.count("apple"))
print(fruit.index("pear"))
print(len(fruit))
print("banana" in fruit)
fruit

2
3
11
True

['apple',
 'banana',
 'mango',
 'pear',
 'peach',
 'kiwi',
 'cherry',
 'apple',
 1,
 1876524,
 6421]

In [150]:
# List
spam = [2,4,6]
print(spam[:2])
print(spam[-1])
print(spam[-5:7])
print(spam[-1:0])
print(spam[:-6])
print(spam[-8:-4])
print(spam/2)

[2, 4]
6
[2, 4, 6]
[]
[]
[]

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [98]:
# Array 
from numpy import array
x = array([1,2,3])
print(x*2)

[2 4 6]

In [132]:
import numpy as np

ex = np.array([1,2,3,4,"car", True])
ex

array(['1', '2', '3', '4', 'car', 'True'], dtype='<U21')

## Differences:
- Numeric operation can't be performed on lists. Ex. [1,2,3] *2 = [1,2,3,1,2,3]
- Numeric operation can be performed on arrays though.

In [84]:
# String

#print LL
hello = "HELLO!"
print(hello[2:4])
print(hello[-4:-2])
print(hello[-4:4])
print(hello[2:-2])

# print ELL
print(hello[1:4])
print(hello[-5:4])
print(hello[-5:-2])
print(hello[1:-2])

LL
LL
LL
LL
ELL
ELL
ELL
ELL

In [100]:
# Tuple
spam = ("spam", "Spam", "SPAM", "sPaM", "SpAm", "SPam", "spAM", "SPAM!")
len(spam)

8

In [107]:
# Set
exp = set(["car", "six", 1234, "hat", "car", 2, "sofa", True])

nums1 = set([1,2,4,2,1,3,413,532,123,32,1,34,2])
nums2 = set([1,2,4,23,43,2,123,34,4321])
common = nums1 & nums2
separate = nums1 | nums2
separate

{1, 2, 3, 4, 23, 32, 34, 43, 123, 413, 532, 4321}

In [137]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
DaysA -DaysB

{'Mon', 'Tue'}

In [116]:
array1 = ["are", 3, False]
array = [1,2,3]
type(array)

list

In [122]:
test = [1,5,2,7,3,0, True, "hat"]
test

[1, 5, 2, 7, 3, 0, True, 'hat']

# Each column or row in a DataFrame is a Series.

In [149]:
dict = {'Name': ('Zara', "Larson"), 'Age': 8, 'Class': 'First', 'school': 'DPS School'}
dict["Name"][0]

'Zara'